ENV=dev-or-prod

# Airflow settings
AIRFLOW_IMAGE_NAME="apache/airflow:2.10.3"
# 🐳 Airflow Docker UID (used to avoid permission issues on your host machine)
# Run `id -u` in your terminal to find your UID if you forget.
AIRFLOW_UID=50000

# Google Cloud / BigQuery
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/keys/your-service-account.json
GCP_PROJECT_ID=your-gcp-project-id-here
GCP_BUCKET=your-gcs-bucket-name-here

# Gmail IMAP connection for Airflow
GMAIL_USER=your-project-gmail
GMAIL_PASSWORD=your-app-password

#SPOTIFY
# Generate at: https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=your-spotify-client-id-here
SPOTIFY_CLIENT_SECRET=your-spotify-client-secret-here

# TMDB
# Generate at: https://developer.themoviedb.org/docs/getting-started
TMDB_API_KEY=your-tmdb-api-key-here