# Airflow runtime files
logs/
__pycache__/
*.pyc

# SQLite database (created if you run Airflow locally without Postgres)
airflow.db

# Environment and credentials
.env
*.env
keys/

# Python virtual environments
venv/
.venv/
.env/

# VS Code
.vscode/

# Docker
*.pid
*.db
*.sqlite

# Mac system files
.DS_Store

# Ignore placeholder/test/dev files and folders
*_scratch_*
*_test_*
*_todo_*
