# ------------------------------------------------------------------------------
# Airflow runtime files
# ------------------------------------------------------------------------------
logs/
__pycache__/
*.pyc

# SQLite database (created if you run Airflow locally without Postgres)
airflow.db

# ------------------------------------------------------------------------------
# Environment and credentials
# ------------------------------------------------------------------------------
.env
*.env
# Google Cloud service account keys
*.json

# ------------------------------------------------------------------------------
# Python virtual environments
# ------------------------------------------------------------------------------
venv/
.venv/
.env/

# ------------------------------------------------------------------------------
# VS Code
# ------------------------------------------------------------------------------
.vscode/

# ------------------------------------------------------------------------------
# Docker
# ------------------------------------------------------------------------------
*.pid
*.db
*.sqlite

# ------------------------------------------------------------------------------
# Other/Miscellaneous
# ------------------------------------------------------------------------------
.DS_Store